<div class="backdrop"></div>
<header class="main-header">
    <nav>
        <div class="item-list">
            <li class="item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            
            <% if (isAuthenticated && isAdmin) { %>
                <li class="item">
                    <a class="<%= path === '/secret' ? 'active' : '' %>" href="/secret">Secret</a>
                </li>
                <li class="item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add product</a>
                </li>
            <% } %>
        </div>

        <div class="login">
            <% if (!isAuthenticated) { %>
                <li class="item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="item" >
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="item">
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <li class="item">
                    <a class="<%= path === '/account' ? 'active' : '' %>"  href="/account">
                        <img src="/images/user.png" alt="Account icon">
                    </a>
                </li>
                
            <% } %>
        </div>
    </nav>
</header>
