<section class="pagination">

    <% if (pagination.currentPage > 1 && pagination.previousPage>1){%> 
        <a class="btn" id="firstPage"href="/?page=1">1</a>
    <% } %>
    <% if (pagination.hasPreviousPage){%> 
        <a class="btn" id ="previousPage" href="?page=<%=pagination.previousPage%>"><%= pagination.previousPage %></a>
    <% } %>
    <a class="btn" id="currentPage" href="?page=<%=pagination.currentPage%>" class="active"><%= pagination.currentPage %></a>
    
    <% if (pagination.hasNextPage){%> 
        <a class="btn" id ="nextPage" href="?page=<%=pagination.nextPage%>"><%= pagination.nextPage %></a>
    <% } %>
    <% if (pagination.lastPage > pagination.currentPage && pagination.nextPage < pagination.lastPage) {%> 
        <a class="btn" id="lastPage" href="?page=<%=pagination.lastPage%>"><%= pagination.lastPage %></a>
    <% } %>
</section>