<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <section class="order-cookie">
            <h2 class="order-cookie__heading">
                A MILLION FREE COOKIES!
            </h2>
            <form class="order-cookie__form" action="/checkout/662fb2071269656bf876deba" method="get">
                <input class="order-cookie__image" type="image" src="images/cookie.png" width="300px" height="300px" alt="submit" >
            </form>
            <h2 class="order-cookie__heading">
                Only 45.212 left!
            </h2>
        </section>
        <section class="products-preview">
            <h2 style="text-align: center; width: 100%;">
                Our Products
            </h2>
            <% if (prods.length > 0) { %>
                <div class="product-list">
                    <% for (let product of prods) { %>
                        <article class="product-item">
                            <header class="header">
                                <h1 class="title">
                                    <%= product.title %>
                                </h1>
                            </header>
                            <div class="image">
                                <img width="50px" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                            </div>
                            <div class="content">
                                <h2 class="product__price">$
                                    <%= product.price %>
                                </h2>
                                <p class="description">
                                    <%= product.description %>
                                </p>
                            </div>
                            <div class="actions">
                                <a href="/products/<%= product._id %>" class="btn">Details</a>
                                <% if (isAdmin){ %>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </article>
                        <% } %>
                </div>
                <% } else { %>
                    <h2 style="text-align: center;">
                        No products found.
                    </h2>
                    <% } %>
        </section>
    </main>
<%- include('includes/end.ejs') %>