<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h2><%= p.productData.title %></h2>
                            <div class="quantity">
                                <p>Quantity: </p>
                                <input type="number" value="<%= p.quantity %>">
                                <script>
                                    document.querySelector('.quantity input').addEventListener('change', event => {
                                        fetch('http://localhost:3002/cart-update-quanity', {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify({
                                                productId: '<%= p.productData._id %>',
                                                quantity: event.target.value
                                            })
                                        }).then(result => {
                                            return result.json();
                                        }).then(data => {
                                            console.log(data);
                                        }).catch(err => {
                                            console.log(err);
                                        })
                                    })
                                </script>
                            </div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productData._id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <a class="btn" href="/checkout/cart">Order Now!</a>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>