<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productData.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <form action="/payment" method="POST" style="margin:auto; width: 40%;display: block;text-align: center;">
                <input type="hidden" value=>
                <h2>Only deliveries in the London Area</h2>
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstName" name="firstName" required>
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input type="text" id="lastName" name="lastName" required>
                </div>
                <div class="form-group">
                  <label for="address1">Address Line 1:</label>
                  <input type="text" id="address1" name="address1" required>
                </div>
                <div class="form-group">
                  <label for="address2">Address Line 2:</label>
                  <input type="text" id="address2" name="address2">
                </div>
                <div class="form-group">
                  <label for="city">City:</label>
                  <input type="text" id="city" name="city" required>
                </div>
                <div class="form-group">
                  <label for="zip">ZIP/Postal Code:</label>
                  <input type="text" id="zip" name="zip" required>
                </div>
                <div class="form-group">
                  <label for="country">Country:</label>
                  <input type="text" id="country" name="country" required>
                </div>
                <button type="submit">Submit</button>
              </form>
              <div class="centered" style="width: 100%;">
                <h2>Total: £<%= 45//totalSum %></h2>
                <div class="centered">
                    <button id="order-btn" class="button"> ORDER </button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51OcPrdELAWo6mDK5y3oy60EGccqspk88QtVE1bNhvPxd8Pi7SPNBGSvfNd6C2EtIWGRD9tS4lRlGsxpxXbM2YEzv00JWi44Cd4');
                        var orderBtn = document.getElementById('order-btn')
                        orderBtn.addEventListener('click', function() {
                            stripe.redirectToCheckout({
                                sessionId: '<%=sessionId %>'
                            });
                        })
                    </script>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>