<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1><%= product.title %></h1>
            <div  class="product-details">
                <section class="product-item">
                    <div class="image">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <h2>£<%= product.price %></h2>
                    <p><%= product.description %></p>
                </section>
                <section class="product-actions">
                    <% if(isAuthenticated) {%>
                        <%- include('../includes/add-to-cart.ejs') %>
                        <%- include('../includes/buy-now.ejs') %>
                    <%} else {%>
                        <p>Please <a href="/login">login</a> to buy this product</p>
                    <%}%>
                </section>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>