<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>
    <style>
        input[type="radio"] {
            width: 10px;
        }
        label{
            width: 100%;
        }
    </style>
    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <h1> Here are all our products </h1>
                <form>
                <%- include('../includes/search.ejs') %>
                <div class="separate" style="display: flex; flex-wrap: wrap;margin: 2%;">
                    <div class="seach-options" style="display: flex;flex-flow: column;width: 250px;margin-left: 5%;margin-right: 5%;">
                        <p>Price Ranges</p>
                        <label>
                            <input type="radio" id="range1" name="priceRange" value="min-4.99">
                            0.00 - 4.99
                        </label>

                        <label>
                            <input type="radio" id="range2" name="priceRange" value="5-9.99">
                            5.00  - 9.99
                        </label>
                        
                        <label>
                            <input type="radio" id="range3" name="priceRange" value="10-max">
                            10.00+
                        </label>
                    </div>
                    <div class="container" style="width: 100%;">
                    
                    </form>
                        <% if (products.length > 0) { %>
                            <div class="product-list">
                                <% for (let product of products) { %>
                                    <%- include('../includes/product-card.ejs', {product: product}) %>
                                <% } %>
                            </div>
                            <%- include('../includes/pagination.ejs', {pagination: pagination}) %>
                        <% } else { %>
                            <h1>No Products Found!</h1>
                        <% } %>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>