<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <h1> Here are all our products </h1>
                <%- include('../includes/search.ejs', {pageUrl : "/products"}) %>
                <% if (products.length > 0) { %>
                    <div class="product-list">
                        <% for (let product of products) { %>
                            <%- include('../includes/product-card.ejs', {product: product}) %>
                        <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {pagination: pagination}) %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>